@font-face {
  font-family: Bangers;
  src: url('../../assets/fonts/Bangers-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Audiowide;
  src: url('../../assets/fonts/Audiowide-Regular.ttf');
  font-weight: 400;
}

$hero-red: #e11b3e; 
$hero-blue: #1467cf;
$hero-yellow: #d69e01;
$hero-green: #28880d;
$hero-brightgreen: #37ff00;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Bangers;
}

body {
  background-color: $hero-red;
}

.battlepage {
  min-height: 100vh;
  background-color: $silver;
}

.battle-row {
  display: flex; 
  justify-content: space-between;
  height: 75vh;

}

.char-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 30vw;
  gap: 10px;
  background-color: $alabaster;
}

.char-container--hero {
  margin-left: 5vw;
}

.char-container--enemy {
  margin-right: 5vw;
}

.winner {
  width: 100%;
  text-align: center;
  color: $hero-blue;
  font-size: 70px;
  font-family: Bangers;
  text-shadow: -4px -4px black;
  margin-top: 40vh;
  padding-top: 40px;
}

.char-title {
  color: $hero-blue;
  font-size: 50px;
  font-family: Bangers;
  text-shadow: -4px -4px black;
}

.char-title--hero {
  left: 10vw;
}

.char-title--enemy {
  right: 10vw;
}

.char-img {
  width: 15vw;
}

.char-vitals {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  &__stat {
    font-family: Audiowide;

    &--health {
      color: $hero-red;
    }

    &--energy {
      color: $hero-blue;
    }

    &--moves {
      color: $hero-green;
    }
  }
}

.action-panel {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  gap: 10px;
  &--red {
    background-color: $hero-red;
  }

  &--green {
    background-color: $hero-green;
  }

  &--blue {
    background-color: $hero-blue;
  }
}

.action-desc {

  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 10px;

  &__info-bullet {
    font-size:20px;
    font-family: Audiowide;
    color: $mercury;
  }
}

.action-button {
  color: $hero-blue;
  margin: 0 auto;
  font-size: 36px;
  background-color: $mercury;
  text-shadow: -1px -1px black;
  border-radius: 40%;
  border: 10px outset $silver;
  padding: 5px 20px;
  cursor: pointer;
}

.cardrow {
  display: flex;
  justify-content: center;
  height: 17vh;
  background-color: $hero-yellow;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.card {
  width: 6vw;
  border: 5px inset $mercury;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  padding: 5px;
  color: $alabaster;
  font-size: 20px;

  &--red {
    background-color: $hero-red;
  }

  &--blue {
    background-color: $hero-blue;
  }

  &--green {
    background-color: $hero-green;
  }
}

