
$page-header: 4.2rem;
$section-header: 2.75rem;
$subheader: 1.5rem;
$copy: 1.1rem;
$button: 0.9rem;

@font-face {
    font-family: "Bangers";
    src: url('./assets/fonts/Bangers-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Audiowide";
    src: url('./assets/fonts/Audiowide-Regular.ttf');
    font-weight: 400;
}

