* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bangers";
}


$hero-red: #e11b3e; 
$hero-blue: #1467cf;
$hero-yellow: #d69e01;
$hero-green: #28880d;
$hero-brightgreen: #37ff00;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

.App {
  text-align: center;
}


